<h1><%= @job.job_title %></h1>

<p><%= @job.job_des %></p>


<%=form_with model: @applied_for, url: jseeker_job_applied_for_index_path(@jseeker,@job) do |form| %>
 
 <div class="mb-3">
     <%= form.hidden_field :id, value: params[:id] %>
    
    <%if @job.job_percat <= @jseeker.percentage%>
        <p>Eligible</p>
        <%=  form.submit "Apply", class: "btn btn-primary" %>
    <%else%>
            <p>Not Eligible</p>
    <%end%>
</div>
<%end%>