<h1>Status of Applied Jobs</h1>
<% @job.zip(@a) do |a, b| %>
    <p>
    <div class="mb-3">
    <div class="mb-3">
        <%=a.job_title%>
    </div>
        <% if b.status==1%>
            <%="pending"%><br>
        <% elsif b.status==2%>
            <%="approved"%><br>
        <%else%>
            <%="rejected"%><br>
        <%end%>
        <%=a.job_des%>
        </div>
    </p>
<% end %>
