<% title 'Verify' %>

<header><h1>Verify</h1></header>
<div class="alert alert-primary" role="alert">
  <p id="notice"><%= notice %></p>
</div>


<%= form_tag(verifyjseeker_url) do %>
  <div class="mb-3">
    <%= label_tag :verification_code %>
    <%= text_field_tag :verification_code %>
  </div>

  <div class="actions">
    <%= submit_tag 'Verify'  %>
  </div>
<% end %>
<%=@current_user%>

<%= link_to 'Back', root_path %>


